ocmod_3.x.x.xsd

<?xml version="1.0"?>
<!--
<![CDATA[]]>
-->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attribute name="regex" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
            <![CDATA[
                Необов'язковий атрибут "regex" для вказівки, чи слід шукати шаблон регулярного виразу.
                default=true
                Якщо вірно, дані пошуку повинні бути дійсними шаблонами регулярних виразів
                Залишити або встановити значення FALSE для звичайного пошуку рядків (за умовчанням)
                Не застосовується до і iafter 
                ]]>
            </xs:documentation>
        </xs:annotation>                                                    

    </xs:attribute>
                                            
    <xs:attribute name="index">                                  
        <xs:annotation>
            <xs:documentation xml:lang="en"><![CDATA[
                Необов'язковий, вказує на які екземпляри пошукового тегу слід виконувати<br>
                default=true
                Якщо рядок пошуку є "ехо" і є 5 ехо в файлі, але тільки хочете замінити 1 і 3, використовуйте index = "1,3"
                Розмежовані комами для декількох екземплярів, які починаються з "1" - невірно з "0"
                Залиште або встановіть значення FALSE, щоб замінити всі екземпляри. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
            <xs:documentation xml:lang="ru"><![CDATA[
                Необов'язковий, вказує на які екземпляри пошукового тегу слід виконувати2
                default=true
                Якщо рядок пошуку є "ехо" і є 5 ехо в файлі, але тільки хочете замінити 1 і 3, використовуйте index = "1,3"
                Розмежовані комами для декількох екземплярів, які починаються з "1" - невірно з "0"
                Залиште або встановіть значення FALSE, щоб замінити всі екземпляри. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
            <xs:documentation xml:lang="ua"><![CDATA[
                Необов'язковий, вказує на які екземпляри пошукового тегу слід виконувати3
                default=true
                Якщо рядок пошуку є "ехо" і є 5 ехо в файлі, але тільки хочете замінити 1 і 3, використовуйте index = "1,3"
                Розмежовані комами для декількох екземплярів, які починаються з "1" - невірно з "0"
                Залиште або встановіть значення FALSE, щоб замінити всі екземпляри. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trim"  type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="en"><![CDATA[
                Необов'язковий атрибут "trim" встановлюється як true | false
                default=true
                true зменшить пробіли і прориви ліній.
                залиште або встановіть значення true для обрізання. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
            <xs:documentation xml:lang="ua"><![CDATA[
                Необов'язковий атрибут "trim" встановлюється як true | false
                default=true
                true зменшить пробіли і прориви ліній.
                залиште або встановіть значення true для обрізання. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
            <xs:documentation xml:lang="ru"><![CDATA[
                Необов'язковий атрибут "trim" встановлюється як true | false
                default=true
                true зменшить пробіли і прориви ліній.
                залиште або встановіть значення true для обрізання. (значення за умовчанням - істина) 
                ]]>
            </xs:documentation>
        </xs:annotation>                                                    
    </xs:attribute>
    
    
    
    <xs:simpleType name="error">
        <xs:restriction base="xs:string">
            <xs:enumeration value="skip">
                <xs:annotation>                                
                    <xs:documentation><![CDATA[
                        означає, що він просто ігноруватиме цей файл
                        ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="abort">
                <xs:annotation>                                
                    <xs:documentation><![CDATA[
                        означає ввести помилку і скасувати інші операції в цьому конкретному XML-скрипті. Він не повертає зміни до інших файлів, вже зроблених у цьому сценарії, і не зупиняє інші файли XML.
                        ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="modification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="version" type="xs:string"/>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="link" type="xs:string"/>
                
                <xs:element name="file" maxOccurs="unbounded">                    
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operation">
                                <xs:complexType>
                                    <xs:sequence>                                        
                                        <xs:element name="search">
                                            <xs:complexType mixed="true">                                                
                                                <xs:attribute ref="regex" use="optional" default="true"/>
                                                <xs:attribute ref="index" use="optional"/>
                                                <xs:attribute ref="trim" use="optional"/> 
                                                <xs:attribute ref="limit" use="optional"/> 
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="add">
                                            <xs:complexType   mixed="true">
                                                <xs:attribute name="position">
                                                    <xs:annotation>            
                                                        <xs:documentation xml:lang="ua"><![CDATA[
                                                        Обов'язковий атрибут, встановлюється:<br>
                                                            before  - вставить додати дані перед пошуком даних<br>
                                                            after   - додасть дані після пошуку даних<br>
                                                            replace - замінить дані в тегу пошуку на дані в тезі add. (за замовчуванням)
                                                        ]]>
                                                        </xs:documentation>
                                                    </xs:annotation>
        
                                                    <xs:simpleType>                                                        
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="replace"/>
                                                            <xs:enumeration value="before"/>
                                                            <xs:enumeration value="after"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="offset">                                  
                                                    <xs:annotation>
                                                        <xs:documentation><![CDATA[
Необов’язковий атрибут, для роботи з позицією
якщо позиція пошуку до і зміщена 3, вона поставить додавання даних перед рядком, на 3 рядки вище рядка, що шукається
якщо позиція пошуку є після і зміщена 3, вона поставить додавання даних після рядка, на 3 рядки нижче шуканого рядка
якщо позицію пошуку замінити та змістити 3, вона видалить код із рядка пошуку та наступних 3 рядків та замінить його на додавання даних
якщо позиція пошуку є верхньою та зміщеною 3, вона поставить код перед рядком, на 3 рядки вгорі файлу
якщо позиція пошуку нижня і зміщена 3, вона поставить код після рядка, на 3 рядки внизу файла]]>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="error" type="error"/> 
                                    <xs:attribute name="ignoreif" use="optional"  default="false" type="xs:boolean">
                                        <xs:annotation>            
                                            <xs:documentation xml:lang="ua"><![CDATA[
Це дозволяє здійснювати пошук по файлу. Цей пошук працює в декількох рядках, а не лише в одних. 
Цей тег необов’язковий, і якщо пошук знайдений, операція пропускається
Необов'язковий атрибут "regex" встановлений на true | false.
Для формату даних всередині тегу потрібні роздільники для регулярного вираження, оскільки він
використовує стандартний метод preg_match для php. Цей атрибут за замовчуванням відповідає false
                                                        ]]>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>  
                                </xs:complexType>
                            </xs:element>                            
                        </xs:sequence>
                        <xs:attribute name="path" type="xs:string" use="required">
                            <xs:annotation>                                
                                <xs:documentation>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="error">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="skip">
                                        <xs:annotation>                                
                                            <xs:documentation><![CDATA[
                        означає, що він просто ігноруватиме цей файл
                        ]]>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="abort">
                                        <xs:annotation>                                
                                            <xs:documentation><![CDATA[
                        означає ввести помилку і скасувати інші операції в цьому конкретному XML-скрипті. Він не повертає зміни до інших файлів, вже зроблених у цьому сценарії, і не зупиняє інші файли XML.
                        ]]>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>                                     
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
